@charset "utf-8";
/* CSS Document */
@media screen and ( max-width:1024px ){
	.custom .btn{ padding:12px 15px; }
	.app-img {
    top: -2.5rem;
    right: -5px;
	}
	.app-img img{ width:180px } 
	.loop-item{ width:33.33%; padding-right:.7rem }
	.prof-top-mid{ width:29.6% }
	.prof-top-right{ width:58% }
	.prof-img{ width:100px; height:100px }
}
@media screen and (min-width:591px) and ( max-width:991px ){

		.custom .btn{ padding:7px 15px; margin-left:15px }
		.custom .btn-link{ padding:0px 15px }
		.navbar-toggler{ position:absolute; left:0; top:0; margin-top:-53px }
		.top-right{ width:100%; justify-content:flex-end }
		.top-left{ width:100%; justify-content:space-between }
		.srch-caption{ top:68% }
		.app-img{ top: 108px; right: 42px;}
		.app-img img{ width:160px }
		.foot-menu{ flex-wrap:wrap; }
		.foot-menu li{ width:33.33%; margin-bottom:5px }
		.grey-head{ width:100% }
		.rad-grp{ justify-content:flex-start; width:100%; flex-wrap:wrap; margin-top:1rem }
		.loop-item{ width:33.33%; padding-right:.7rem }
		.top-right{ margin-bottom:15px }
		.feature-sec .w-85{ width:75% }
		.feature-sec .w-15{ width:25% }
		.prof-top-mid{ width:78.9% }
		.prof-top-right{ width:100%; text-align:left !important }
		ul.feature{ flex-wrap:wrap }
		.feature li{ margin-bottom:1rem; width:33.33%; margin-right:0 }
	}
@media screen and ( max-width:590px ){
	.pro-pic-div{ display:none }
	.top-right,.top-left{
		width:100%
		}
		.container-fluid.px-0.bg-light{
			background:none !important;
			}
		.custom .btn{ padding:7px 15px; margin-bottom:15px }
		.login-drop{ min-width:100% }
		.srch-caption{ top:68% }
		.app-img{ display:none }
		.item-slider.owl-carousel,.client-slider.owl-carousel{ width:92% }
		.client-slider.owl-carousel .client-div{ flex-wrap:wrap; justify-content:center; text-align:center }
		.item-slider .owl-next,.client-slider .owl-next,.blog-slider .owl-next{ right:0 }
		.item-slider .owl-prev,.client-slider .owl-prev,.blog-slider .owl-prev{ left:0 }
		.foot-menu{ flex-wrap:wrap;  margin-top:15px }
		.foot-menu li{ width:50%; margin-bottom:5px }
		.social{ margin-bottom:15px }
		.copy{ flex-wrap:wrap; justify-content:center !important }
		.copy p{ margin-bottom:10px !important }
		.chat-left-scroll.border-right,.chat-left-scroll-big.border-right{ border:none !important }
		.chat-right-head{ border-top:1px solid #dee2e6 }
		.w-15{ width:40% }
		.w-85{ width:60% }
		.grey-head{ width:100% }
		.rad-grp{ justify-content:flex-start; width:100%; flex-wrap:wrap; margin-top:1rem }
		#msform .next,#msform .previous{ min-width:120px; padding:7px !important; }
		.pad-sm{ padding:0.6rem 0.4rem }
		#msform .custom-file.w-50{ width:100% !important; margin-right:0 !important }
		.loop-item{ width:auto; padding-right:.8rem}
		.cus-menu.navbar-nav .nav-link{ padding:1rem 0 }
		.feature-sec .w-85,.feature-sec .w-15{ width:100% }
		.feature-sec .w-15 .btn{ display:block }
		ul.feature{ flex-wrap:wrap }
		.feature li{ margin-bottom:1rem; width:50%; margin-right:0 }
		.certi{ justify-content:flex-start }
		.certi div{ width:50%; text-align:left !important }
		.prof-top-mid{ width:68.9% }
		.prof-top-right{ width:100%; text-align:left }
		.prof-img{ width:90px;height:90px; margin-bottom:1rem}
		.prof-top-right .btn{ width:100% }
		.hire .btn{ width:auto; padding:5px 7px !important; float:right }
		.share-sec .btn{ width:auto }
		.prof-slider .owl-next{ right:-36px }
		.prof-slider .owl-prev{ left:-36px }
	}